# Godot 4+ specific ignores
.godot/
/android/

# Godot import/cache
.import/

# Export
export_presets.cfg

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/


# Exported builds
*.apk
*.aab
*.exe
*.app
*.dmg
*.zip
*.pck
*.ipa